@use "../../scss/" as *;

.top {
    background-color: #1B1A17;
    width: 100%;
    padding: 32px;
    border-bottom: 3px solid #F0A500;

    .button {
        border-radius: 4px;
        background-color: #F0A500;
        font-size: medium;
        padding: 16px 16px 16px 16px;
        color: #1B1A17;
        margin-top: 16px;
        margin-right: 8px;
        box-shadow: 5px 5px #E45826;
    }

    .top-title {
        font-weight: 600;
        margin-bottom: 4px;
        font-size: x-large;
        margin-left: 8px;
        color: #F0A500;
        //E45826
    }
}

.content {
    background-color: #E6D5B8;
    .title {
        display: inline;
        font-size: x-large;
        font-weight: 600;
    }

    padding: 16px;
    .sector {
        padding: 8px;
        margin-top: 32px;
        display: flex;
        align-items: center;
    }

    .textInput {
        height: 30px;
        padding: 4px;
        border: 1px solid #777070;
    }

    .doctor {

        &-cell {
            border: 1px solid #1B1A17;
            padding: 12px;
            margin-top: 4px;
            background-color: #F0A500;
            border-radius: 4px;
            box-shadow: 5px 5px;
        }
    }

    .text {
        font-size: medium;
        margin-top: 8px;
        color: #1B1A17;
        &-title {
            font-weight: 600;
            color: #1B1A17;
            font-size: large;
        }
        &-gender {
            font-size: small;
            color: #1B1A17;
            margin-top: 4px;
        }
    }

    .list {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(100px, 200px));
        grid-gap: 10px;
        &-patient {
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(160px, 220px));
            grid-gap: 10px;
        }
    }

    .patient {

        &-cell {
            border: 1px solid #1B1A17;
            padding: 12px;
            margin-top: 4px;
            background-color: #F0A500;
            cursor: pointer;
            border-radius: 4px;
            box-shadow: 5px 5px;
        }
    }
}