@use "../../scss/" as *;

.top {
    background-color: #f0f0f0;
    width: 100%;
    padding: 16px;

    .button {
        height: 30px;
        border-radius: 4px;
        //border: 1px solid #f0f0f0;
        background-color: #00A19D;
        font-size: 14px;
        padding: 4px 8px 4px 8px;
        color: white;
    }

    .top-title {
        font-weight: 600;
        margin-bottom: 4px;
        font-size: larger;
        margin-left: 8px;
    }
}

.content {
    .title {
        display: inline;
        font-size: 24px;
        font-weight: 600;
    }

    padding: 16px;
    .sector {
        padding: 8px;
        margin-top: 32px;
        display: flex;
        align-items: center;
    }

    .textInput {
        height: 30px;
        padding: 4px;
        border: 1px solid #777070;
    }

    .doctor {

        &-cell {
            border: 1px solid #f0f0f0;
            padding: 8px;
            margin-top: 4px;
            background-color: #fafafa;;
        }
    }

    .text {
        font-size: 14px;
        margin-top: 8px;
        &-title {
            font-weight: 600;
        }
        &-gender {
            font-size: 12px;
            color: #d3d3d3;
            margin-top: 4px;
        }
    }

    .list {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(100px, 200px));
        grid-gap: 10px;
        &-patient {
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(200px, 300px));
            grid-gap: 10px;
        }
    }

    .patient {

        &-cell {
            border: 1px solid #f0f0f0;
            padding: 8px;
            margin-top: 4px;
            background-color: #fafafa;
            cursor: pointer;
        }
    }
}
