@use "../../scss/" as *;

.content {
    padding: 16px;
    &-doctor {
        .logout {
            @include flex(center, end);
            padding: 10px;
            font-size: 18px;
            .btn-logout{
                background-color: #fafafa;
                font-size: 18px;
                padding-right: 12px;
                padding-left: 12px;
                padding-bottom: 6px;
                padding-top: 6px;
                border-radius: 4px;
                border: 1px solid #f0f0f0;
            }
        }
        .patient-area {
            .patient-panel {
                background-color: lightgrey;
                width: 100%;
                height: 100%;
            }
            .patient-list {
                padding: 0 5px;
                width: 100%;
                height: 100%;
                &-bar {
                    @include flex(center, start);
                    padding: 10px 0 20px 0;
                    &-title {
                        font-weight: 600;
                        font-size: 18px;
                    }
                    &-icon {
                        padding: 10px;
                        cursor: pointer;
                        border-radius: 5px;
                        margin-left: 10px;
                        background-color: #00A19D;
                        color: white;
                    }
                }
                .patient-infos {
                    display: grid;
                    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
                    grid-gap: 10px;
                    .patient-info {
                        background-color: #fafafa;
                        border: 1px solid #f0f0f0;
                        border-radius: 4px;
                        @include flex(center, space-between);
                        .patient-desc {
                            padding: 10px;
                            .patient-name {
                                font-weight: 600;
                                font-size: 20px;
                                color: #576370;
                            }
                            .patient-gender,
                            .patient-dob,
                            .patient-address,
                            .patient-room,
                            .doctor,
                            .doctor-exp-date {
                                padding: 5px;
                                .title {
                                    font-size: 14px;
                                }
                                .content {
                                    font-size: 14px;
                                    color: #576370;
                                }
                            }
                        }
                        .patient-avatar {
                            padding: 10px;
                            text-align: center;
                            .patient-img {
                                background-color: #dcdcdc;
                                width: 100px;
                                height: 120px;
                            }
                            .patient-status {
                                font-weight: 600;
                                font-size: 16px;
                                margin: 10px 0;
                                color: #576370
                            }
                            .patient-detail {
                                padding: 10px;
                                background-color: #00A19D;
                                font-weight: 500;
                                font-size: 14px;
                                border-radius: 5px;
                                color: white;
                            }
                        }
                    }
                }
            }
        }
    }
}
