@use "../../scss/" as *;

.add-patient {
    height: 1170px;
    &-container {
        padding: 50px;
        &-title {
            font-weight: 600;
            font-size: 24px;
            padding: 0 0 20px 0;
        }
        &-panel {
            .button-bar {
                padding-top: 32px;
                .btn {
                    font-size: 14px;
                    background-color: #00a19d;
                    padding: 10px 20px;
                    border-radius: 4px;
                    color: white;
                }
                .btn-back {
                    border-radius: 4px;
                    border: 1px solid #f0f0f0;
                    background-color: #fafafa;
                    font-size: 14px;
                    color: black;
                    margin-right: 8px;
                }
            }
            .panel {
                display: grid;
                grid-template-columns: 20% 80%;
                border: 1px solid #f0f0f0;
                .panel-left {
                    text-align: center;
                    border-right: 1px solid #f0f0f0;
                    &-avatar {
                        padding: 20px 0;
                        .img {
                            object-fit: cover;
                            width: 96px;
                            height: 128px;
                            background-color: #fafafa
                        };
                    }
                    .btn-upload {
                        background-color: #00a19d;
                        padding: 10px 20px;
                        border-radius: 4px;
                        font-size: 14px;
                        color: white;
                    }
                    &-status {
                        padding: 20px 0;
                        &-title {
                            font-size: 14px;
                            font-weight: 400;
                        }
                        &-content {
                            color: #0000007a;
                            text-transform: uppercase;
                        }
                    }
                    &-btn-active {
                        background-color: #00a19d;
                        padding: 10px 20px;
                        border-radius: 4px;
                        margin-bottom: 20px;
                        font-size: 14px;
                        color: white;
                    }
                }
                .panel-right {
                    padding: 20px;
                    display: flex;
                    flex-direction: column;
                    .panel-right-input {
                        padding: 10px;
                        font-size: 14px;
                        align-items: center;
                        background-color: hsl(0, 0%, 100%);
                        border-color: hsl(0, 0%, 80%);
                        border-radius: 4px;
                        border-style: solid;
                        border-width: 1px;
                        cursor: default;
                        display: flex;
                        flex-wrap: wrap;
                        justify-content: space-between;
                        min-height: 38px;
                        outline: 0 !important;
                        position: relative;
                        transition: all 100ms;
                        box-sizing: border-box;
                    }
                    .title {
                        margin-top: 20px;
                        margin-bottom: 4px;
                        font-size: 12px;
                        color: #3d3d3d;
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 1024px) {
    .add-patient {
        &-container {
            &-title {
                text-align: center;
            }
            &-panel {
                .button-bar {
                    padding: 10px 10px 10px 0;
                }
                .panel {
                    .panel-left {
                        .btn-upload {
                            padding: 10px 5px;
                        }
                        &-btn-active {
                            padding: 10px;
                        }
                    }
                }
            }
        }
    }
}
@media screen and (max-width: 767px) {
    .add-patient {
        height: 100%;
        &-container {
            padding: 10px;
            &-panel {
                .panel {
                    display: flex;
                    flex-direction: column;
                    .panel-left {
                        border: none;
                    }
                }
            }
        }
    }
}
