* {
    margin: 0;
    padding: 0;
  }
  
  *,
  *:before,
  *:after {
      box-sizing: border-box;
  }
  
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    color: #212121;
    font-weight: bold;
  }
  
  input,
  textarea,
  select,
  button {
    outline: none;
  }
  input {
    line-height: normal;
  }
  
  label,
  button {
    cursor: pointer;
  }
  
  ul {
    list-style: none;
  }
  
  li {
    list-style-type: none;
  }
  
  a {
    text-decoration: none;
  }
  img {
    width: 100%;
    margin: auto;
  }