@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

$body-bg: #0f0f0f;
$main-color: #ff0000;
$txt-color: #fff;
$text-color: #0f0f0f;


$white: #fff;
$black: #000;

$box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;

$header-height: 8rem;
$header-shrink-height: 5rem;
$border-radius: 30px;

$mobile-width: 600px;
$tablet-width: 1024px;
$font-family: "Roboto", sans-serif;
$primary-color: #ee4d2d;